<table class="table textbooks clearfix" style="border: none">
  <colgroup>
    <col style="width: 20%" />
    <col style="width: 80%" />
  </colgroup>
  <tbody>
    {% for text in site.data.texts.Main-Text %}
    <tr class="textbook">
      <th scope="row">
        <a href="{{ text.link }}" target="_blank"
          ><img src="{{ text.image | prepend: '/assets/img/' | relative_url }}"
        /></a>
      </th>
      <th>
        <ol class="text-info" style="list-style: none">
          <li>
            <span>Text:</span>
            <a href="{{ text.link }}" target="_blank">{{ text.title }}</a>
          </li>
          <li><span>Author:</span> {{ text.author }}</li>
          <li><span>Publisher:</span> {{ text.publisher }}</li>
        </ol>
      </th>
    </tr>
    {% endfor %} {% for text in site.data.texts.Supplementary %}
    <tr class="textbook">
      <th scope="col">
        {% if text.image %}
        <a href="{{ text.link }}" target="_blank"
          ><img src="{{ text.image | prepend: '/assets/img/' | relative_url }}"
        /></a>
        {% endif %}
      </th>
      <td>
        <ol class="text-info" style="list-style: none">
          <li>
            <span>Supplementary:</span>
            <a href="{{ text.link }}" target="_blank">{{ text.title }}</a>
          </li>
          <li><span>Author:</span> {{ text.author }}</li>
          <li><span>Publisher:</span> {{ text.publisher }}</li>
        </ol>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
